$moules_frites: #345a61
$biscuit_trempe: #e8a75d

$title_font: "Open Sans", sans-serif
$body_font: "Scope One", sans-serif

body
  min-height: 100vh

*
  font-family: $body_font !important

h1, h2, h3, h4, h5, h6
  font-family: $title_font !important

// Navbar
nav img.icon
  width: 32px
  height: 32px
  object-fit: contain
  object-position: center


#brand_logo
  width: 32px
  height: 32px
  object-fit: contain
  object-position: center


// Template Edit
a:hover
  color: $biscuit_trempe !important

a
  color: $biscuit_trempe

.bg-primary
  background-color: $biscuit_trempe !important

hr.divider

  border-color: $biscuit_trempe


// Headers
header.substitutes-header, header.account-header, header.favors-header

  position: relative
  height: 256px

  & img

    width: 100%
    height: 100%
    object-fit: scale-down
    object-fit: cover
    object-position: center

  & .title-box

    z-index: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.42)
    color: white


// Home
#masthead

  & form.search-form

    height: 64px
    margin: auto

    display: flex

    border-radius: 6px
    overflow: hidden

    font-size: 32px

    & input

      width: 100%
      padding: 8px 16px

    & button

      padding: 8px 16px

      background-color: $biscuit_trempe
      color: white
      font-weight: 900
      text-transform: uppercase

#about

  & .remy-and-colette img
    width: 256px
    height: 256px
    object-fit: cover
    object-position: center
    border-radius: 6px


// Search Page
#results

  margin-top: 24px
  padding-top: 32px


.card.substitute-card

  position: relative

  border: none
  margin: auto
  margin-bottom: 24px

  width: 192px

  & i.nutriscore
    position: absolute
    top: 0
    right: 0
    width: 64px
    height: 64px
    padding: 8px

    text-align: center
    font-size: 40px
    font-weight: bold
    font-style: normal
    line-height: normal

    background-color: rgba(0, 0, 0, 0.42)
    color: white
    border: 3px solid white
    border-radius: 32px
    transform: translate(32px, -32px)

  & img
    width: 192px
    height: 192px

    object-fit: cover
    object-position: center

#add_food_alerte, #del_food_alerte

  z-index: 99
  position: fixed
  bottom: 64px
  right: 64px
  width: 128px
  height: 64px

  display: none
  justify-content: center
  align-items: center

  background-color: $moules_frites
  color: white
  border-radius: 6px

  & p
    text-align: center
    padding: 0
    margin: 0


#food

  & .nutriscore

    border-radius: 6px

    & i.A, i.B, i.C, i.D, i.E
      margin: -6px 0

    & i.A
      background-color: #038141

    & i.B
      background-color: #BAD889

    & i.C
      background-color: #FECA04

    & i.D
      background-color: #EE8100

    & i.E
      background-color: #E63E11
